.venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
tempCodeRunnerFile.py

langflow_data/.cache/langflow/profile_pictures
langflow_data/.cache/langflow/secret_key
**/secret_key
.env

langflow_data/
# Runtime
langflow_data/.mem0/
langflow_data/.composio
